.app {
  text-align: center;
  background-color: #282c34;
  width: 100%;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.wrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  height: 70%;
  max-width: 70%;
}

img {
  object-fit: contain;
  width: 100%;
  max-width: 300px;
}

span {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

h3,
h4 {
  color: white;
}

.refresh {
  position: absolute !important;
  bottom: 0;
}
